.panel {
  /* ScrollBar */
  scroll-behavior: smooth;
  --sb-track-color: #00000000;
  --sb-thumb-color: #a5a5a5;
  --sb-size: 10px;
  position: absolute;
  left:100%;
  transition: 2s ease-in-out  ;
}

.panelToLeft {
  left: 30%
}

.panel::-webkit-scrollbar {
  width: var(--sb-size);
}

.panel::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0 5px 5px 0;
}

.panel::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
  border: 3.5px solid #000000;
}

@supports not selector(::-webkit-scrollbar) {
  .panel {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}